<li id="<%= entry.id %>">
	<%= link_to gravatar_for(entry.user, size: 50), entry.user %>
	<span class="user"><%= link_to entry.user.name, entry.user %></span>
	<span class="content"><%= raw(entry.content) %></span>
	<span class="timestamp">
		Posted <%= time_ago_in_words(entry.created_at) %> ago.
		<% if current_user?(entry.user) %>
			<%= link_to "delete", entry, method: :delete,
									data: { confirm: "You sure?" } %>
		<% end %>
			<%= link_to "show", entry %>
	</span>
</li>